html, body { height: 100%; }
body {
  background-image: url("../img/login-screen-layers/filtered_background.png");
  background-repeat: no-repeat;

  background-size: cover;
}
body.requests{
  background-color: rgb(79, 137, 12);
  background-image: none;
}
body#schedulebkg {
  background-image: none;
  background-color: #FFA30B;
}
.container {
  align-items: center;
  position: absolute;
  width: 100%;

}
.headingpending {
  margin-top: 5%;
  margin-bottom: 5%;
  font-style: italic;
  color: white;
  font-size: 150%;
}
a {
  text-decoration: none;
  color: inherit;
}
.backbutton {
  float:left;
  z-index: 10;
  position: absolute;
  top: 35px;
  left: 5px;
  font-size: 120%;
}
.info_text{
  color: black;
  font-size: 120%;
  padding-left: 30%;
  padding-top: 2.5%;
}
.default_heading3{
  font-style: italic;
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  padding-top: 5%;
}
.scheduling_location {
  margin-left: 50%;
}
.default_text{
  font-style: italic;
  color: white;
  font-size: 110%;
}
.loctext {
  font-style: normal;
}
.requests_line {
  /*background-image: url("../img/requests layers/line.png");*/
  background-color: white;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  position:fixed;
  left: 0;
}

.matches_line {
  /*background-image: url("../img/requests layers/line.png");*/
  background-color: white;
  width: 100%;
  margin: 0 auto;
  height: 1px;
}
.wrapper_matches {
  margin-top: 15%;
  padding-left: 5%;
  font-size: 175%;
}
.wrap_matches_top {
  padding-top: 5%;
}
#requestbutton {
  background-color: #BD10E0;
  height: 40px;
  width: 285px;
  border-radius: 50px;
  box-shadow: 0px 2px 15px black;
  margin-left: 10%;
  margin-right: 10%;
}
.pending_text {
  padding-top: 4%;
  margin-left: 30%;
  font-size: 120%;
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.userimg {
  margin-top: 10px;
  float:left;
  margin-left: 10px;
}
ul.requestspage {
  list-style-type: none;
  margin-bottom: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
}
ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
}
.test{
  background-color: white;
  width: 100%;
  position: absolute;

}
.gtest{
  background-color: white;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}
li.pending_user1{
  height: 14vh;
  background-color: white;
  background-color:rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 5px black;
}
li.schedule_user1{
  height: 85px;
  background-color: white;
  box-shadow: 0px 2px 5px black;
}
.twithandle {
  font-style: italic;
  font-size: 100%;
}
.match_name {
  font-size: 125%;
}
.matchbox {
  margin-top: 10%;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 5px black;
}
.schedulemeetup {
  color:rgb(79, 137, 12);
  font-size: 150%;
  text-align: center;
  background-color: white;
  padding-top: 2.5%;
  height: 20%;
}
.notinterested {
  font-size: 150%;
  color: #FFA30B;
  text-align: center;
  background-color: white;
  height: 20%;
  padding-top: 2.5%;
}
.date,.time {
  background-color: white;
  width: 100%;
  height: 70%;
  font-size: 160%;
  padding-left: 5%;
  padding-top: 5%;
}
.wrapper {
  margin-top: 70%;
}
#username {
  background-image: url("../img/login-screen-layers/username-icon.png");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  padding-left: 30px;
  width: 285px;
}

.default_textbox{
  background-repeat: no-repeat;
  background-position: 7px 7px;
  width: 285px;
}

#username-icon {
  background-image: url("../img/login-screen-layers/username-icon.png");
  width: 13px;
  height: 13px;
  background-position: center;
}

#password {
  background-image: url("../img/login-screen-layers/lock.png");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  padding-left: 30px;
  width: 285px;
}

#login {
  margin: 50% 0 0 0;
}
#loginbutton {
  background-color: #FFA30B;
  height: 40px;
  width: 285px;
  border-radius: 50px;
  box-shadow: 0px 2px 15px black;
  margin-left: 10%;
  margin-right: 10%;
}
#loginbutton_createaccount {
  background-color: #FFA30B;
  height: 40px;
  width: 285px;
  border-radius: 50px;
  box-shadow: 0px 2px 15px black;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 35%;
}
.createaccount {
  color: white;
  margin-left: 30%;
  margin-right: 25%;
  font-size: 18px;
  font-style: italic;
}
.default_createaccount {
  color: white;
  margin-left: 20%;
  margin-right: 0%;
  font-size: 18px;
  font-style: italic;
}
input[type=text], input[type=password] {
  margin: 0 10% 0.5em 10%; /*top right bottom left*/
  width: 285px;
  background-color: transparent;
  opacity: 1;
  border-color: transparent;
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, .5);

}
input[type=submit] {
  margin-top: 10%;
  font-size: 18px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  border-color: transparent;

}
.searchicon,.calendar {

  margin-top: 5%;
}
.search_textbox {
  background-image: url("../img/search layers/searchicon.png");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  padding-left: 30px;
  width: 285px;
}
.location_textbox {
  background-image: url("../img/search layers/clip10.png");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  padding-left: 30px;
  width: 285px;
}
#searchbutton {
  background-color: #FFA30B;
  height: 40px;
  width: 285px;
  border-radius: 50px;
  box-shadow: 0px 2px 15px black;
  margin-left: 10%;
  margin-right: 10%;
}
